<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>My Dairy</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">


</head>
<body>
<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-start">
      <form th:action="@{/user/friends_diary_view/{email}(email=${friendEmail})}" method="get">
        <label th:text = "${frndName}"></label>
      </form>
      <form th:action="@{/user/friends_diary_view/{email}(email=${friendEmail})}" method="get">
        <input type="submit" value="Friends" class="btn btn-success" />
      </form>
      <form th:action="@{/user/friends_diary_familyTree/{email}(email=${friendEmail})}" method="get">
        <input type="submit" value="Family Ancestry" class="btn btn-success" />
      </form>
      <form th:action="@{/s3/friends_diary_events/{email}(email=${friendEmail})}" method="get">
        <input type="submit" value="Events" class="btn btn-success" />
      </form>
    </div>
  </nav>

  <p th:text="${friendEmail}"> </p>

  <div style="display: flex; justify-content: center; align-items: center;">
    <div class="card-container" style="display: flex; flex-direction: column;">
      <div class="card" th:each="travelPost : ${travelPosts}" style="max-width: 400px; margin-bottom: 10px;">
        <div th:if="${travelPost.fileExtension eq ''}">
        </div>
        <div th:if="${travelPost.fileExtension eq 'mp4'}">
          <video class="card-img-top" th:src="@{'/s3/travelPosts/' + ${travelPost.tid} + '/media'}" controls></video>
        </div>
        <div th:if="${travelPost.fileExtension eq 'jpg'}">
          <img class="card-img-top" th:src="@{'/s3/travelPosts/' + ${travelPost.tid} + '/media'}" >
        </div>
        <div class="card-body">
          <p class="card-text" th:text="${travelPost.message}"></p>
        </div>
        <br>

        <div class="card-comments" th:each="comment : ${travelPost.comments}">
          <p th:text="${comment.comment}"></p>
          <br>
          <p th:text="${comment.commentBy}"></p>
          <br>
          <p th:text="${comment.commentTime}"></p>
        </div>


        <form th:action="@{/s3/friend/travel/addComment/{travelPostId}/{friendEmail}(travelPostId=${travelPost.tid},friendEmail=${friendEmail})}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="comment">Comment:</label>
            <input type="text" class="form-control" id="comment" name="comment" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Add Comment</button>
        </form>


        <!--                <form th:action="@{/s3/events/{eid}/comments}" method="post" th:object="${newComment}">-->
        <!--&lt;!&ndash;                    <input type="hidden" th:field="*{post.eid}" th:value="${post.eid}" />&ndash;&gt;-->
        <!--                    <div class="form-group">-->
        <!--                        <textarea class="form-control" th:field="*{comment}" rows="3"></textarea>-->
        <!--                    </div>-->
        <!--                    <button type="submit" class="btn btn-primary">Add Comment</button>-->
        <!--                </form>-->



      </div>
    </div>
  </div>



</section>



<hr/>


</body>
</html>