<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Events Home</title>
</head>
<body>

<section>
  <h1 style="text-align: center;">Recent Posts</h1>

  <div style="display: flex; justify-content: center; align-items: center;">
    <div class="card-container" style="display: flex; flex-direction: column;">
      <div class="card" th:each="post : ${top10JustHappenedList}" style="max-width: 400px; margin-bottom: 10px;">
        <br>
        <h6 style="text-align: center;" th:text = "${post.postType}"></h6>
        <hr>
        <div th:if="${post.fileExtension eq ''}">
        </div>
        <div th:if="${post.fileExtension eq 'mp4'}">
          <video class="card-img-top" th:src="@{'/s3/jh/posts/' + ${post.pid} + '/media/' + ${post.section} }" controls></video>
        </div>
        <div th:if="${post.fileExtension eq 'jpg'}">
          <img class="card-img-top" th:src="@{'/s3/jh/posts/' + ${post.pid} + '/media/' + ${post.section}}" >
        </div>
        <div class="card-body">
          <p class="card-text" th:text="${post.message}"></p>
        </div>
        <br>

        <div class="card-comments" th:each="comment : ${post.comments}">
          <p th:text="${comment.comment}"></p>
          <br>
          <p th:text="${comment.commentBy}"></p>
          <br>
          <p th:text="${comment.commentTime}"></p>
        </div>


<!--        <form th:action="@{/s3/friend/events/addComment/{eventPostId}/{friendEmail}(eventPostId=${post.eid},friendEmail=${friendEmail})}" method="post" enctype="multipart/form-data">-->
<!--          <div class="form-group">-->
<!--            <label for="comment">Comment:</label>-->
<!--            <input type="text" class="form-control" id="comment" name="comment" required>-->
<!--          </div>-->
<!--          <button type="submit" class="btn btn-primary btn-block">Add Comment</button>-->
<!--        </form>-->
      </div>
    </div>
  </div>

</section>


</body>
</html>
