<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>My Dairy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">





</head>
<body>
<section>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px; justify-items: center; align-items: center;">
        <a style="background-color: #F2F3F3;  opacity: 0.85; width: 250px; height: 250px; text-align: center; text-decoration: none; color: black; font-size: 1.3em; font-weight: 650; display: flex; justify-content: center; align-items: center; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);" href="/user/diary/friends">Friends</a>
        <a style="background-color: #F2F3F3; opacity: 0.85; width: 250px; height: 250px; text-align: center; text-decoration: none; color: black; font-size: 1.3em; font-weight: 650; display: flex; justify-content: center; align-items: center; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);" href="/user/gt" >Family Ancestry</a>
        <a style="background-color: #F2F3F3; width: 250px; height: 250px; text-align: center; text-decoration: none; color: black; font-size: 1.3em; font-weight: 650; display: flex; justify-content: center; align-items: center; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); pointer-events: none; opacity: 0.3;" href="/user/gt" onclick="return false;">Bucket List</a>
        <a style="background-color: #F2F3F3; opacity: 0.85; width: 250px; height: 250px; text-align: center; text-decoration: none; color: black; font-size: 1.3em; font-weight: 650; display: flex; justify-content: center; align-items: center; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);" href="/s3/travel/travelhome">Travel</a>
        <a style="background-color: #F2F3F3; opacity: 0.85; width: 250px; height: 250px; text-align: center; text-decoration: none; color: black; font-size: 1.3em; font-weight: 650; display: flex; justify-content: center; align-items: center; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);" href="/s3/justHappened" >Just Happened</a>
        <a style="background-color: #F2F3F3; opacity: 0.9; width: 250px; height: 250px; text-align: center; text-decoration: none; color: black; font-size: 1.3em; font-weight: 650; display: flex; justify-content: center; align-items: center; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);" href="/s3/event/home">Events</a>

    </div>
</section>

<hr/>


</body>
</html>