<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>FFTD-ForgotPassword</title>
</head>
<body>

<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="text-center mb-4">Forgot Password</h2>
        <th:block th:if="${session.msg}">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success:</strong> [[${session.msg}]]
          </div>
          <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
        </th:block>
        <th:block th:if="${session.err}">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> [[${session.err}]]
          </div>
          <th:block th:text="${#session.removeAttribute('err')}"></th:block>
        </th:block>
        <form action="/v1/forgotPassword" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Send an Email</button>
          <br/>
         <th:block th:if="${session.nextButton}">
            click here and update Password<a href="/v1/fp_updatepasswordPage"> UPDATE PASSWORD</a>
          </th:block>
        </form>
      </div>
    </div>
  </div>

</section>

</body>
</html>