<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>FFTD-Update Password</title>
</head>
<body>

<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="text-center mb-4">Update Password</h2>
        <th:block th:if="${session.msg}">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success:</strong> [[${session.msg}]]
          </div>
          <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
        </th:block>
        <th:block th:if="${session.err}">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> [[${session.err}]]
          </div>
          <th:block th:text="${#session.removeAttribute('err')}"></th:block>
        </th:block>

        <form action="/v1/fp/updatePassword" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${session.email}" readonly >
          </div>
          <div class="form-group">
            <label for="emailtoken">Token</label>
            <input type="text" class="form-control" id="emailtoken" name="emailtoken" placeholder="Enter Token you received on Email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm your password" required>
          </div>
          <th:block th:if="${session.msg}">
            click here to Login<a href="/v1/loginPage"> Login</a>
          </th:block>
          <button type="submit" class="btn btn-primary btn-block">Update Password</button>
        </form>
      </div>
    </div>
  </div>

</section>

</body>
</html>